# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
coverage.json

# production
/build
/cache

# Environment files
.DS_Store
.env
/env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
.vscode

# Data
/data/ipfs
/data/postgres

# Contract artifacts
/build
cache/
contracts/.flattened/
/typechain
deployments/hardhat
deployments/localhost